<div class="row">
    <div class="col-md-6 offset-3">
        @*<img class="text-center" src="C:/Users/PC 29/Downloads/notfound.jpg" alt="Page Not Found" width="500" height="600">*@
        <h1 class="text-info  text-center" >Oops! Page Not Found</h1>
        <hr/>
        <center> <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a></center>
    </div>
    
</div>
